.past-trainings {
  padding: 0.25rem;
}

table {
  width: 100%;
}

.table-status {
  padding: 2em;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-column-duration {
  text-align: right;
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.mat-column-calories {
  text-align: right;
  justify-content: flex-end;
  padding-right: 0.5rem;
}
