<section class="signup-form">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    #f="ngForm"
    (ngSubmit)="onSubmit(f)"
  >
    <mat-form-field
      ><input
        type="email"
        matInput
        placeholder="Your email"
        ngModel
        name="email"
        required
        email
        #emailInput="ngModel"
      /><mat-error *ngIf="!emailInput.hasError('required')"
        >Email is invalid</mat-error
      ><mat-error *ngIf="emailInput.hasError('required')"
        >Field must not be empty</mat-error
      ></mat-form-field
    >
    <mat-form-field hintLabel="Should be at least 6 characters long."
      ><input
        type="password"
        matInput
        placeholder="Your password"
        ngModel
        name="password"
        required
        password
        #pwInput="ngModel"
      /><mat-hint align="end">{{ pwInput.value?.length }}/6</mat-hint
      ><mat-error *ngIf="!pwInput.hasError('required')"
        >Password must be at least 6 characters long</mat-error
      ><mat-error *ngIf="pwInput.hasError('required')"
        >Field must not be empty</mat-error
      ></mat-form-field
    >
    <mat-form-field>
      <input
        matInput
        placeholder="Your birthdate"
        ngModel
        name="birthdate"
        [matDatepicker]="picker"
        [max]="maxDate"
      /><mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel name="agree" labelPosition="after" color="primary"
      >Agree to Terms and Conditions.</mat-checkbox
    >
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
