<mat-sidenav-container
  ><mat-sidenav #sidenav role="navigation"><p>I am the sidenav</p></mat-sidenav
  ><mat-sidenav-content
    ><mat-toolbar color="primary"
      ><div><button (click)="sidenav.toggle()">Toogle sidenav</button></div>
      <div>LOGO</div>
      <div>
        <a href="/signup">Singup</a><a href="/login">Login</a
        ><a href="/training">Training</a>
      </div></mat-toolbar
    >
    <main><router-outlet></router-outlet></main></mat-sidenav-content
></mat-sidenav-container>
